<div class="container" align="center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>todos</h1>
        <div class="col-md-12 div-custom">
            <div class="row">
                <div class="col-md-3">
                    <input type="checkbox" *ngIf="storeService.todos.length" #isSelectAll [checked]="storeService.IsAllItemsSelected()" (click)="storeService.SelectAll(isSelectAll.checked)" style="margin: 10px;">
                </div>
                <div class="col-md-8">
                        <input placeholder="Что должно быть сделано?" (keyup.enter)="addTodo()" [(ngModel)]="newTodoText" class="edit-form input-custom">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                        <table *ngIf="storeService.todos.length > 0" class="table table-hover">
                                <tr *ngFor="let todo of storeService.todos">
                                    <td>
                                        <input type="checkbox" *ngIf="!todo.editing" [checked] = "todo.selected" (click)="selectTodo(todo)" class="form-check-input">
                                    </td>
                                    <td>
                                        <div *ngIf="!todo.editing">
                                            <label class="input-custom" *ngIf="todo.selected" (dblclick)="todo.editing = true;" style="width: 150px;">
                                                <s>{{todo.title}}</s>
                                            </label>
                                            <label class="input-custom" *ngIf="!todo.selected" (dblclick)="todo.editing = true;" style="width: 150px    ;">
                                                <b>{{todo.title}}</b>
                                            </label>
                                        </div>
                                        <input type="text" *ngIf="todo.editing" #editedTodo [value]="todo.title" (keyup.escape)="todo.editing = false" (blur)="todo.editing = false" (keyup.enter)="updateTodo(todo, editedTodo.value)" class="form-control input-custom">
                                    </td>
                                    <td>
                                        <button style="float: right;" *ngIf="!todo.editing">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="removeTodo(todo)"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                </div>
                
            </div>
        </div>
        
        <span><strong>{{storeService.getItems(false).length != 0 ? storeService.getItems(false).length : ""}}</strong>
            {{storeService.getItems(false).length == 0 ? 'нет задач' : 
            storeService.getItems(false).length == 1 ? 'задача' : 
            storeService.getItems(false).length >= 2 && storeService.getItems(false).length <= 4 ? 'задачи' :
            'задач'}}
        </span>
        <button *ngIf="storeService.getItems(true).length > 0" (click)="removeSelectedTodos()" class="btn btn-link">Удалить выбранные</button>
    </div>
    <div class="col-md-4"></div>
</div>